.logo {
	color: $logo-second-word-color;
	text-decoration: none;
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 24px;
	line-height: 1.14;
	letter-spacing: 0.03em;

	@media screen and (min-width: $desktop) {
		font-size: 26px;
	}
}

.logo-first {
	color: $accent-color;
}