.container {
	max-width: 480px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	// outline: 1px solid tomato;

	@media screen and (min-width: $tablet) {
		max-width: 768px;
	}

	@media screen and (min-width: $desktop) {
		max-width: 1200px;
	}
}

.main-nav {
	display: flex;
	align-items: center;

	@media screen and (min-width: $tablet) {

		justify-content: flex-start;
	}
}